body {
  
  background-color: #B5B0B0; /* kuning cerah*/
  font-family: Arial, Sans-serif; /*jenis huruf*/ 
  color: #000000; /* Warna teks utama (biru gelap)*/
}
.Kartu-Profil {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color:white;
  border-radius:15px;
  box-shadow:0 4px 8px rgba(0,0,0,0,1);
  text-align: center;
}
.Kartu-Profil img {
  width: 150px;
  border-radius: 50px;
}
